/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
.w-30 {
  width: 30% !important;
}
.w-31 {
  width: 31% !important;
}
.w-60 {
  width: 60% !important;
}
.w-69 {
  width: 69% !important;
}
w-70 {
  width: 70% !important;
}
.w-35 {
  width: 35% !important;
}
.w-65 {
  width: 65% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

